@model Industrial_tour_reservation_system.ViewModels.UserBookingView
@{
    ViewBag.Title = "Booking";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="containes">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Visitor.VisitorID)
    <div class="conatinerss">
        <div class="form-group">
            @Html.LabelFor(model => model.Package.PackageName, "PackageID", htmlAttributes: new { @class = "col-md-offset-2 col-md-10" })

            @Html.DropDownListFor(x => x.Package.PackageID, new SelectList(Model.Package_List, "PackageID", "PackageName"), "Select Subject", new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.Package.PackageID, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <input type="submit" value="Book" class="btn btn-outline-secondary" />
                </div>
            </div>
        </div>
    </div>


</div>
}

<div>
    @Html.ActionLink("Back to List", "MainPage")
</div>
