@model Industrial_tour_reservation_system.Models.Booking

@{
    ViewBag.Title = "DeleteBooking";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div style="min-height:450px;margin-top:100px;">
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NameOfVisitor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfVisitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfPackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfPackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfPlace)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.BookingID)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
